In [2]:
import numpy as np
import pandas as pd
import sqlite3 as sql
from sklearn.preprocessing import MinMaxScaler
from ipywidgets import interact # para análisis interactivo
from sklearn import neighbors # basado en contenido un solo producto consumido
import joblib

# conectar base de datos
conn=sql.connect('Data/movies2.db')
cur=conn.cursor()

# ver tablas disponibles en base de datos
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
cur.fetchall()

[('ratings',),
 ('movies',),
 ('usuarios_sel',),
 ('movies_sel',),
 ('ratings_final',),
 ('movies_final',),
 ('full_ratings',),
 ('f_ratings',)]

In [10]:
df = pd.read_sql("SELECT * FROM f_ratings", conn)
df

,user_id,movie_id,rating,timestamp,movie_title,movie_genres,fecha_nueva,movie_year,clean_title
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2000-07-30,1995,Toy Story
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,2000-07-30,1995,Grumpier Old Men
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,2000-07-30,1995,Heat
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,2000-07-30,1995,Seven (a.k.a. Se7en)
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,2000-07-30,1995,"Usual Suspects, The"
...,...,...,...,...,...,...,...,...,...
45420,609,589,3.0,847220990,Terminator 2: Judgment Day (1991),Action|Sci-Fi,1996-11-05,1991,Terminator 2: Judgment Day
45421,609,590,4.0,847220802,Dances with Wolves (1990),Adventure|Drama|Western,1996-11-05,1990,Dances with Wolves
45422,609,592,3.0,847220802,Batman (1989),Action|Crime|Thriller,1996-11-05,1989,Batman
45423,609,786,3.0,847221025,Eraser (1996),Action|Drama|Thriller,1996-11-05,1996,Eraser
45424,609,1059,3.0,847221054,William Shakespeare's Romeo + Juliet (1996),Drama|Romance,1996-11-05,1996,William Shakespeare's Romeo + Juliet